<p>assignments works!</p>
<h1>{{title}}</h1>
<h2>Angular 16</h2>

<div *ngFor="let assignment of assignments"
[ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
<p *ngIf="assignment.rendu;else nonsoumis">
    le devoir {{assignment.nom}} a ete rendu le  {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}
 </p>
 <ng-template #nonsoumis>
    <p>
        le devoir {{assignment.nom}} doit etre rendu le  {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}
     </p>
 </ng-template>
</div>


<h2>Angular 17</h2>

@for (assignment of assignments ; track assignment.nom) {
    <div  [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
        @if (assignment.rendu) {
            <p appRendu>
               le devoir {{assignment.nom}} a ete rendu le  {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}
            </p>
           } @else {
               <p>
                   le devoir {{assignment.nom}} doit etre rendu le  {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}}
                </p>
           }
    </div>
    
  
}


