.rendu {
    color: green;
    background-color: orange;
}

.nonRendu {
    color: white;
    background-color: blue;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

  mat-drawer {
    background-color: #eee;
  }
